*{
    margin: 0;
    padding: 0;
}
.header{
    width:100%;
    background: linear-gradient(to top,rgba(216, 204, 204, 0),rgba(0,0,0,0)),url(pink.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}


.navbar {
    background-color:transparent; /* Background color */
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.navbar ul {
    list-style-type: none; /* Remove bullet points */
    margin: 0;
    padding: 0;
}
.navbar li {
    float: left; /* Float the list items horizontally */
}
.navbar li a {
    display: block;
    color: white; /* Text color */
    text-align: center;
    padding: 14px 16px; /* Padding around the links */
    text-decoration: none; /* Remove underline */
    box-shadow: 0 0 5PX rgb(241, 23, 59),0 0 25PX rgb(228, 56, 85);
}
.navbar li a:hover {
    background-color: #111; /* Darker background color when mouse hovers over */
    box-shadow: 0 0 5px rgb(224, 18, 53),0 0 25px rgb(238, 54, 85),0 0 50px rgb(231, 52, 82),0 0 100px rgb(241, 50, 82),0 0 200px pink;
}
/* CSS for other sections */
.content {
    text-align: center; /* Center align content */
    margin-top: 50px; /* Add some space from the top */
}


body {
    /* background-color: red; */
    background: linear-gradient(to top,rgba(160, 100, 100, 0),rgba(0,0,0,0)),url(pink.jpg);
    background-position: center;
    background-size: cover;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}
.icon{
    width: 200px;
    height: 70px;
    float: left;
}
.logo{
    color:rgb(206, 104, 138);
    font-size: 35px;
    font-family:arial;
    float: left;
    padding-left: 75px;
    padding-top: 30px;
    display: flex;

}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4 ease-in-out;
}
ul li a:hover{
    color:palevioletred
}

.btn{
    width: 100px;
    height: 40px;
    background: palevioletred;
    border: 2px solid palevioletred;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.btnm :focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #ddf508;
    position: relative;
}
.content .para{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: arial;
    letter-spacing: 1.2px;
    line-height: 30px;
     
}
.content h1{
         font-family: 'Times New Roman';
         font-size: 50px;
         padding-left: 20px;
         margin-top: 9%;
         letter-spacing: 2px;
}
.content .cn{
    width: 160px;
    height: 40px;
    background: palevioletred;
    border: none;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 18px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;

}
.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .5s ease;
}
.cn:hover{
    background-color: #fff;
}
.content span{
    color:palevioletred;
    font-size: 60px;
}
.form{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background-size: cover;
}

.btnn{
    width: 240px;
    height: 40px;
    background: palevioletred;
    border: none;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 10px;
    cursor:pointer;
    color: #fff;
    transition: 0.4 ease;

}
.btnn:hover{
    background: #fff;
    color: palevioletred;
}
.btnn a{
    text-decoration: none;
    color: #d0f308;
    font-weight: bold;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: rgb(230, 215, 220);
}
.lik{
     padding-top: 15px;
     padding-bottom: 10px;
     text-align: center;
}
section{
    height:100vh;
    width: auto;
    border: 1px solid black ;
    display: flex;
    justify-content: center;
    text-align:center ;
    align-items: center;
    background-size: cover;
    background-attachment: fixed;
    color:aqua;
    background:no-repeat;
    background: url(hot.jpg);
    }
#ABOUT{
      background-image: url(dr.jpg);
      text-align: center;
      background-size: cover;
}
#COURSE{
    background-image: url(su.jpg);
    text-align: center;
    color:pink;
    font-size: 25px;
    background-size: cover;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
       
}
#SAMPLE{
    background-image: url(ht.jpg);
    text-align: center;
    color:rgb(230, 5, 43);
    font-size: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image:  url(ht.jpg);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
    background-repeat: no-repeat;
}
.card1{
    background-image: url(img4.jpg);
}
.card2{
    background-image: url(img6.jpg);
}
.card3{
    background-image: url(img5.jpg);
}
.card:hover{
    transform: translateY(-18px);
}
#CONTACT{
    
    background-image: url(us.jpg);
    background-size: cover;
    color: #ddcfc6;
/* 
    position: relative; */
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
